<h1> Welcome to battle!</h1>
<form action="/names" method="post">
<body>
  <div align="left">
    <label for="enter-player-1">Enter player 1 name:</label>
    <input type="text" id="enter-player-1" name="player_1">
  </div>
  <div align ="right">
    <label for="enter-player-2">Enter player 2 name:</label>
    <input type="text" id="enter-player-2" name="player_2">
  </div>
  <div class="button" align = "center">
    <button type="submit">Submit names</button>
  </div>
</form>
</body>
