<form action="/names" method="post">
  <div>
    <label for="enter-player-1">Enter player 1 name:</label>
    <input type="text" id="enter-player-1" name="player_1">
  </div>
  <div>
    <label for="enter-player-2">Enter player 2 name:</label>
    <input type="text" id="enter-player-2" name="player_2">
  </div>
  <div class="button">
    <button type="submit">Submit names</button>
  </div>
</form>
