<form action="/names" method="post">
  <div>
    <label for="Enter player 1">Player_1:</label>
    <input type="text" id="Enter player 1" name="player_1">
  </div>
  <div>
    <label for="Enter player 2">Player_2:</label>
    <input type="text" id="Enter player 2" name="player_2">
  </div>
  <div class="button">
    <button type="submit">Submit names</button>
  </div>
</form>
